@font-face{
font-family:Bellefair-Regular ;
src: url(../fonts/Bellefair-Regular.ttf);
}
@font-face{
font-family:OpenSans-Regular ;
src: url(../fonts/OpenSans-Regular.ttf);
}
.header {
overflow: auto;
background: #ffffff;
position: fixed;
top: 0;
padding: 16px 32px;
width: 100%;
border-radius: 0;
border: none;
z-index: 1;
/*box-shadow: 0px 1px 3px #e3e3e3;*/
 box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.logoimg{
max-width: 15%;
height: auto;
}
.navbar{
float: right;
padding-top: 5px;
}
.navbarli {
list-style-type: none;
padding: 10px 30px;
}
.navbarli li {
display: inline-block;
}
.navbarlist{
text-decoration: none;
color: #565656;
padding-right: 35px;
font-size: 15px;
/*  font-family:Bellefair-Regular ;*/
font-family:OpenSans-Regular ;
font-weight: bold;
}
.clear{
clear:both;
}
.navbarlist:hover {
    text-decoration: none;
         color:#32d6c8;
}
#contact{
   color: #15a99c;
}
.contact1{
	/*background-color: #edf4fa;*/
 /*   background-color: #fbfcfe;*/
}
.contactmain{
	width: 80%;
	margin:0 auto;	
}
.contactheading{
font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.15rem;
    color: #f37a75;
    font-family: OpenSans-Regular;
    text-align: center;
    border-bottom: 1px solid #f37a75;
    padding-top: 9%;
    width: 12%;
    margin: 0 auto;
    text-transform: uppercase;
}
.contact__input{
	outline: none;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    /*background-color: #edf4fa;*/
    /*background-color: #fbfcfe;*/
    width: 100%;
    border-bottom: 2px solid #32d6a9;;
    color: #626262;;
    padding-top: 4%;
     font-family: OpenSans-Regular;
    font-size: 17px;
}
.contact__button{
    border: none;
    text-align: center;
    height: 50px;
    width: 170px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    outline: none;
    background-color: #32d6a9;
    font-weight: bold;
    border-radius: 15px;
      font-family: OpenSans-Regular;
       margin-top: 5%;
       margin-bottom: 5%;
}
.contact__button:hover{
	cursor: pointer;
    background-color: #15a99c;
}
.contact__errMsg{
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact__sucessmsg{
	    color: green;
    font-family: OpenSans-Regular;
    font-size: 18px;
     padding-top: 5px;
    padding-bottom: 5px;
}

.map{
    margin-bottom: 5%;
}

/*footer starts from here*/
.footer{
    /* background-color: #f2f2f2; */
    background-color: #e1f1ff;
    overflow: hidden; 
}
.footer__logoDiv{
    width: 20%; 
    float: left; 
    margin: 0px 0px 0px 0px;
}    
.footer__content{ 
    width: 100%;
    margin: 0px auto;
    margin-top: 50px; 
    margin-bottom: 50px;
    overflow: hidden;
} 
.footer__logo{
    width: 35%;
    float: right;
    margin-right: 100px;
    height: 100px;
}
.footerDiv{
    width: 80%; 
    float: right;
}
.quicklinks{
    width: 20%;
}
.register{
    width: 27%;
}
.share{
    width: 26%;
}
.contact{
    width: 25%;
}
.mail{
    text-decoration: none;
    color: #626262;
}
.myClass{
    display: inline-block;    
    vertical-align: top;
}
.footerlogoimg{
    width: 15%;
    display: inline-block;
}
.footer-menu{
    text-decoration: none;
    font-family:OpenSans-Regular ;
        line-height: 1.5;
        font-size: 14px;
        color: #626262;
}
.registerheader, .quicklinksheader, .shareheader, .contactheader, .followheader{
     font-family:OpenSans-Regular ;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 10px;
}
.followheader{
margin-top: 35px;
}
.regaddress, .shareaddress, .contdetails{
    font-family:OpenSans-Regular ;
        line-height: 1.5;
        font-size: 14px;
        color: #626262;
}
.location, .envelope, .call{
    height: 12px;
}

.social-networks {
    padding-top: 0px;
    padding-bottom: 10px;
}
.facebook, .twitter-logo, .linkedin{
    height: 30px;
    width: 30px;
    opacity:5;
}
.twitter-logo, .linkedin{
    margin-left: 5px;
}
.facebook:hover, .twitter-logo:hover, .linkedin:hover{
    opacity: 0.4;
}
.copyright_text {
    font-family: OpenSans-Regular;
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
    color: #626262;
}
/*footer ends  here*/
